{% extends 'base.html'%}

{% load crispy_forms_tags %}


{% block content %}
<section class=".register">
    <div class="container">
            <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="well">
                                <form action="" method="POST">
                                        {% csrf_token %}
                                        <fieldset class="">
                                           <legend class="">Update Blog Post</legend>
                                        </fieldset>
                                        <div class="form-group">
                                            {{form|crispy}}
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Update Post</button>
                                        </div>
                                    </form>
                                  
                        </div>
                    </div>
                </div>

    </div>
        
</section>

    


{% endblock%}